<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>

    <h1>all profiles</h1>


      <%for(let i=0; i<profiles.length; i++){%>
        <div class="jumbotron">
        <h1 class="display-6"><a href="/profiles/<%=profiles[i]._id%>">
          <%=profiles[i].firstName%> <%=profiles[i].lastName%></a></h1>
            <br/>
          <p class="lead"> <%=profiles[i].about%></p>

          <hr class="my-4"><p> <%=profiles[i].summary%></p></hr>

      <%}%>

      <a href="/profiles/new">add one</a>

      <%include ../partials/footer.ejs%>
  </body>
</html>
