<!DOCTYPE html>
<html lang="en">
  <head>
    <%include ../partials/head.ejs%>

  </head>
  <body>
    <% include ../partials/header.ejs %>

    <h2><%=profile.firstName%> <%=profile.lastName%></h2>

    <p><%=profile.about%></p>
      <br/>
    <p><%=profile.summary%></p>
    <br/>

    <a href="<%=profile._id%>/edit">edit</a>

    <form action="/profiles/<%=profile._id%>?method=DELETE" method="post">
      <input type="submit" value="delete"/>
    </form>

    <%include ../partials/footer.ejs%>
  </body>
</html>
